.work-sans {
    @import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
}

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
}

body {
    margin: 0;
}

/*--common class--*/
.display {
    display: flex;
}

.dark-2 {
    color: rgba(66, 66, 66, 1)
}

.dark-3 {
    color: rgba(114, 114, 114, 1);
}

.btn-primary {
    background-color: rgba(255, 144, 14, 1);
    color: #FFFFFF;
    padding: 21PX 25PX;
    font-size: 1.25rem;
    font-weight: 500;
    border: none;
    border-radius: 8px;
}


/*--header nav section--*/
#header {
    background-color: rgba(255, 144, 14, 0.1);
}

.nav {
    margin: 0 auto;
    width: 1440px;
}

.navigation-bar {
    text-align: center;
    align-items: center;
    justify-content: space-between;
    font-size: 1.50rem;
}

#nav-list {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    margin-left: 50px;
    font-size: 1.25rem;
}

/*--banner section--*/
.banner-heading {
    margin: 0 auto;
    width: 860px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner-heading h2 {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 0;
}

.banner-heading p {
    font-size: 1rem;
}

.banner-img {
    margin-top: 50px;
    width: 100%;
}

/*--features section--*/
.quick-features {
    margin: 50px 301px;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

#feature-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.feature-content {
    width: 540px;
}

.feature-content span {
    font-size: 3.25rem;
}

.color {
    color: rgba(255, 144, 14, 1);
}

/*--features you will enjoy--*/
#features {
    margin: 0 auto;
    width: 1440px;
    gap: 150px;
}

.feature-container {
    width: 650px;
}

.features-heading {
    gap: 30px;
}

.features-heading h2 {
    border-left: 4px solid rgba(255, 144, 14, 1);
    padding-left: 5px;
    font-size: 1.80rem;
}

.feature-card {
    border: none;
    border-radius: 8px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.06);
    padding: 20px;
    margin-top: 30px;

}

#btn {
    margin-top: -150px;
    margin-left: -100px;
}

#btn span {
    font-size: 4rem;
    font-weight: 700;
}

/*--some facts--*/
.some-facts {
    width: 1440px;
    margin: 70px auto;

}
.fact-heading h2{
    font-size: 2.50rem;
    font-weight: 700;
    margin-bottom: 0;
}

.fact-box {
    gap: 50px;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.fact-card{
    align-content: center;
    border: 1px solid rgba(255, 144, 14, 1);
    border-radius: 8px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.06);
    width: 240px;
    height: 240px;
    padding: 15px;
}
.fact-card img{
    width: 45px;
    height: 45px;
}
.fact-card h2{
    margin-bottom: 0;
    margin-top: 10px;
}

/*--our sponsors--*/
.sponsors{
    width: 1440px;
    margin: 50px auto;
}
.sponsor-heading{
    text-align: center;
    margin: 30px 0;
}
.sponsor-heading h2{
    font-size: 2.50rem;
}
.sponsor-img{
    justify-content: space-between;
    margin-top: 90px;
}